<rr-header></rr-header>

<router-outlet></router-outlet>



<!--<div class="container-fluid">-->
<!--  <div class="row row-cols-2 g-3">-->
<!--    <div class="col-8">-->
<!--      <div class="row row-cols-3 g-2">-->
<!--        <h4>Quick Start</h4>-->
<!--        <div class="col">-->
<!--          <rr-card>-->
<!--            <h5 class="card-title">Special title treatment</h5>-->
<!--            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--          </rr-card>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--          <rr-card>-->
<!--            <h5 class="card-title">Special title treatment</h5>-->
<!--            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--          </rr-card>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--          <rr-card>-->
<!--            <h5 class="card-title">Special title treatment</h5>-->
<!--            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--          </rr-card>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col">-->
<!--          <rr-card>-->
<!--            <rr-table [columns]="recordKeys | keyvalue: originalOrder"-->
<!--                      [data]="records$ | async"></rr-table>-->
<!--          </rr-card>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col">-->
<!--      <h4>Money</h4>-->
<!--      <rr-card>-->
<!--        <h5 class="card-title">Special title treatment</h5>-->
<!--            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--      </rr-card>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
