<div class="container-fluid">
  <div class="row row-cols-2 g-2 g-lg-3">
    <div class="col-8">
      <div class="p-3">
        <rr-quick-stats></rr-quick-stats>
        <div class="row g-2 mt-2">
          <div class="col">
            <rr-full-data></rr-full-data>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col p-3">
          <rr-data-by-owner></rr-data-by-owner>
        </div>
      </div>
      <div class="row">
        <div class="col p-3">
          <rr-data-by-division></rr-data-by-division>
        </div>
      </div>
    </div>
  </div>
</div>
